{% extends 'layout.html.twig' %}

{% block page_title %}Cennik{% endblock %}
{% block content %}
    <section>
        <div class="row">
            <div class="columns small-12 zabieg">
                Cennik usług
            </div>
        </div>
        <div class="info row">
            {{ content|raw }}
        </div>
    </section>
{% endblock %}