<section>
    <div class="row">
        <div class="columns small-12 zabieg">
            Nie wiesz jak przygotować się do zabiegu? Co masz z sobą zabrać? Krótki poradnik krok po kroku...
        </div>
    </div>
</section>
<section class="steps top-offset">
    <div class="row step">
        <div class="columns large-2 small-6 small-centered medium-2 medium-uncentered step-count">
            <div class="inner-box">
                <div class="step-no">01</div>
                <div class="step-no-text">Krok pierwszy</div>
            </div>
        </div>
        <div class="columns large-2 small-3 small-centered medium-2 medium-uncentered step-circle">
            <div class="img_wrapper has-arrow"><img src="images/krok1.png"></div>
        </div>
        <div class="columns large-7 small-12 medium-7 step-textbox end">
            <h3>Zadzwoń i zarejestruj się telefonicznie +48 690 140 840</h3>
            <p>Telefoniczna Rejestracja pacjent odpowie Ci na  wszystkie pytania związane z zabiegiem, ustali termin i miejsce zabiegu na terenie całej Polski oraz prześlę potrzebne formularze i dokumenty.</p>

            <p>Telefoniczna rejestracja czynna jest codziennie od poniedziałku do piątku od godz. 8.00 do 14.00.</p>

            <p>Jeśli w danej chwili nie będziesz mógł się dodzwonić to zostaw nam swoje dane a w ciągu 24 oddzwonimy aby ustalić szczegóły związane z zabiegiem.</p>
        </div>
    </div>
    <div class="row step top-offset">
        <div class="columns large-2 small-6 small-centered medium-2 medium-uncentered step-count">
            <div class="inner-box">
                <div class="step-no">02</div>
                <div class="step-no-text">Krok drugi</div>
            </div>
        </div>
        <div class="columns large-2 small-3 small-centered medium-2 medium-uncentered step-circle">
            <div class="img_wrapper has-arrow"><img src="images/krok2.png"></div>
        </div>
        <div class="columns large-7 small-12 medium-7 step-textbox end">
            <h3>Wykonaj niezbędne badania</h3>
            <p>- Morfologia krwi<br>
                - Antygen HBS</p>

            <p>Badania wykonywane są odpłatni e w każdym laboratorium i nie mogą być starsze niż 1 miesiąc do dnia zabiegu. Przybliżony koszt kompletu badań w zależności od wybranego laboratorium to 50zł.</p>

            <p>Po otrzymaniu wyników wyślij je na adres  rejestracja@vasotomia.pl  i w tym samym dniu otrzymasz od nas informację zwrotną o zakwalifikowaniu lub niezakwalifikowaniu do zabiegu.</p>
        </div>
    </div>
    <div class="row step top-offset">
        <div class="columns large-2 small-6 small-centered medium-2 medium-uncentered step-count">
            <div class="inner-box">
                <div class="step-no">03</div>
                <div class="step-no-text">Krok trzeci</div>
            </div>
        </div>
        <div class="columns large-2 small-3 small-centered medium-2 medium-uncentered step-circle">
            <div class="img_wrapper has-arrow"><img src="images/krok3.png"></div>
        </div>
        <div class="columns large-7 small-12 medium-7 step-textbox end">
            <h3>Dokonaj wpłaty według przesłanego harmonogramu oraz przygotuj się do zabiegu</h3>
            <p>W przesłanym do Ciebie e-mailu znajdą się dokumenty z harmonogramem płatności oraz  formularze zgody ,które po wydrukowaniu zabierz ze sobą na zabieg. Całkowity koszt procedury zabiegowej  wynosi 1900zł.</p>
            <div class="flex-video">
                <iframe width="420" height="315" src="http://www.youtube.com/embed/Op13-M7diBE" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video-url">
                <a href="#">Film</a>
            </div>

        </div>
    </div>
    <div class="row step top-offset">
        <div class="columns large-2 small-6 small-centered medium-2 medium-uncentered step-count">
            <div class="inner-box">
                <div class="step-no">04</div>
                <div class="step-no-text">Krok czwarty</div>
            </div>
        </div>
        <div class="columns large-2 small-3 small-centered medium-2 medium-uncentered step-circle">
            <div class="img_wrapper has-arrow"><img src="images/krok4.png"></div>
        </div>
        <div class="columns large-7 small-12 medium-7 step-textbox end">
            <h3>Zarezerwuj sobie ok. 1h na całą procedurę zabiegową </h3>
            <p>Po zabiegu możesz samodzielnie wrócić samochodem  do domu. </p>
            <p>Cała procedura zabiegowa składa się z 3 etapów:</p>
            <p>1. Rozmowa z lekarzem wykonującym zabieg - wywiad medyczny i sprawdzenie dokumentacji oraz
                formularzy zgody na zabieg (ok.20 minut)<br>
                2. Wykonanie zabiegu metodą bez skalpela  (WBS ) – w zależności od budowy anatomicznej max.30 min.
                3. Otrzymanie zaleceń po zabiegowych i samodzielny powrót do domu.</p>
            <p>

                Po zabiegu możesz kontaktować się ze swoim lekarzem w przypadku gdy wystąpią niepokojące Cię objawy lub zadzwonić na naszą telefoniczną rejestracją  w celu uzyskania dodatkowych informacji.</p>
            <div class="flex-video">
                <iframe width="420" height="315" src="http://www.youtube.com/embed/Op13-M7diBE" frameborder="0" allowfullscreen></iframe>
            </div>
            <p class="video-url">
                <a href="#">Film</a>
            </p>

        </div>
    </div>
    <div class="row step top-offset">
        <div class="columns large-2 small-6 small-centered medium-2 medium-uncentered step-count">
            <div class="inner-box">
                <div class="step-no">05</div>
                <div class="step-no-text">Krok piąty</div>
            </div>
        </div>
        <div class="columns large-2 small-3 small-centered medium-2 medium-uncentered step-circle">
            <div class="img_wrapper"><img src="images/krok5.png"></div>
        </div>
        <div class="columns large-7 small-12 medium-7 step-textbox end">
            <h3>Wykonaj ogólne zalecenia po zabiegowe i badania nasienia po 8 i 12 tygodniach
                od zabiegu. </h3>
            <p>Materiał do badania możesz pobrać w domu i dostarczyć  w ciągu 30 min do wybranego laboratorium.</p>

            <p>Zalecane badania po zabiegowe wymagane są w celu potwierdzenia iż w nasieniu nie ma już obecnych plemników. W ciągu pierwszych 12 tygodni zalecamy stosować obecne środki antykoncepcyjne a przez okres pierwszych 7- 14 dni nie przemęczać organizmu nadmiernym wysiłkiem (tj. uprawianie sportu) oraz na infekcje po zabiegowe (sauna, basen, kąpiele).</p>
            <p>
                W okresie pierwszych 7 dni zalecamy również chwilową abstynencję seksualną.</p>


        </div>
    </div>
    <div class="row step top-offset">
        <div class="columns large-2 small-6 small-centered medium-2 medium-uncentered step-count">
            <div class="inner-box">
                <div class="step-no">06</div>
                <div class="step-no-text">Krok szósty</div>
            </div>
        </div>
        <div class="columns large-2 small-3 small-centered medium-2 medium-uncentered step-circle">
            <div class="img_wrapper"><img src="images/krok6.png"></div>
        </div>
        <div class="columns large-7 small-12 medium-7 step-textbox end">
            <h3>Jeśli masz jakiekolwiek pytania zadzwoń:</h3>
            <p><span class="phone">+48 690 140 840</p>

            <p>lub napisz:</p>
            <p><a href="#" class="mail">rejestracja@vastomia.pl</p>
            <p></p>

        </div>
    </div>
</section>
