<section>
    <div class="row places">
        <div class="topline"></div>
        <div class="columns small-12 medium-5 large-6 greenbox">
            <h2>Nasze placówki</h2>
            <div id="map">
                <ul class="cities">
                    <li class="city warszawa" style="left:10px; top:20px;"></li>
                    <li class="city warszawa" style="left:20px; top:70px;"></li>
                    <li class="city warszawa" style="left:90px; top:42px;"></li>
                    <li class="city warszawa" style="left:48px; top:82px;"></li>
                    <li class="city warszawa active" style="left:50px; top:123px;"></li>
                    <li class="city warszawa" style="left:62px; top:164px;"></li>
                    <li class="city warszawa" style="left:53px; top:34px;"></li>
                    <li class="city warszawa" style="left:132px; top:71px;"></li>
                    <li class="city warszawa" style="left:182px; top:12px;"></li>
                    <li class="city warszawa" style="left:144px; top:94px;"></li>
                    <li class="city warszawa" style="left:100px; top:7px;"></li>
                </ul>
            </div>
            <div class="selectplace2">
                Wybierz odpowiednią placówkę
            </div>
            <div class="topline"></div>
        </div>
        <div class="columns small-12 medium-6 graybox  place-details">
            <h3>Warszawa</h3>
            <div class="actionbox">
                <div class="textlabel">Wybierz dogodny dla Ciebie termin zabiegu:</div>
                <a href="#" class="button">Wolne terminy</a>
            </div>
            <div class="actionbox">
                <div class="textlabel">Zadzwoń i zarejestruj się telefonicznie:</div>
                <a href="#" class="button">Rejestracja</a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row top-offset cal">
        <div class="columns large-4 medium-4">
            <div class="calendar_buttons">
                <span class="button">Wolne terminy</span>
                <div class="select small-10 columns large-centered">
                    <label>Wybierz miesiąc</label>
                    <select>
                        <option>Styczeń</option>
                        <option>Luty</option>
                        <option>Marzec</option>
                        <option>Kwiecień</option>
                        <option>Maj</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="columns large-8 small-12 medium-8 small-centered medium-uncentered">
            <ul class="calendar">
                <li>01</li>
                <li>02</li>
                <li>03</li>
                <li>04</li>
                <li>05</li>
                <li>06</li>
                <li>07</li>
                <li>08</li>
                <li>09</li>
                <li class="active">10</li>
                <li>11</li>
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li class="active">16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li class="active">22</li>
                <li class="active">23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li>30</li>
                <li>31</li>
            </ul>
        </div>
    </div>
    <div class="row topoffset">
        <div class="columns small-12 large-11 large-centered termsinfobox end">
            <div class="term_info">
                W wybranym przez Ciebie terminie lekarz przyjmuje w godzinach:
            </div>
            <span class="button hours-info">09:00-13:00</span>
            <div class="term_info">
                Zadzwnoń i zarestruj się telefonicznie
            </div>
            <a href="#" class="button reg">Rejestracja</a>
        </div>
        <div class="columns small-12 large-11 large-centered end terms-text">
            <p>Nasza sieć placówek partnerskich rozmieszczona jest w całej Polsce budując dostępność zabiegową oraz po zabiegową do wysoko wyspecjalizowanych lekarzy. </p>

            <p>Idea budowania platformy łączącej pacjenta z lekarzem oparta jest na zaufaniu co do wysokiej jakości świadczonych usług, wspólnym standardem w obsłudze i rejestracji dzięki centralnej rejestracji telefonicznej oraz wymianie doświadczeń w nowoczesnych metodach zabiegowych.</p>
        </div>
        <div class="columns small-12 large-4 terms-text">
            <p>Jesteśmy w stałym rozwoju!</p>
        </div>
    </div>
</section>