{% extends 'layout.html.twig' %}

{% block page_title %}Rewazektomia{% endblock %}
{% block content %}
    <section>
        <div class="row">
            <div class="columns small-12 zabieg">
                Czym jest rewazektomia?
            </div>
        </div>
        <div class="info row">
            {{ content|raw }}
        </div>
    </section>
{% endblock %}